<!-- hospital_app/templates/hospital_app/patient_login.html -->
{% extends 'main.html' %}
{% block content %}
<h2>Patient Login</h2>
<!-- Add your login form here -->


<form>  
    <div class="container">  
        
        <label for="phone">Enter your phone number:</label>
        <input type="tel" id="phone" name="phone" pattern =[0-9]{10} > 
        <label>Username : </label>  
        


        <input type="text" placeholder="Enter Username" name="username" required>  
        <label>Password : </label>   
        <input type="password" placeholder="Enter Password" name="password" required>  
        <button type="submit">Login</button>   
        <input type="checkbox" checked="checked"> Remember me   
        <button type="button" class="cancelbtn"> Cancel</button>   
        Forgot <a href="#"> password? </a>   
    </div>   
</form> 
{% endblock %}